<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta nam="generator" content="Jekyll v3.8.5">
  <title>DIVLearn</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Roboto+Condensed:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/media.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/profil.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<style>
  img {
    width: 100%;
  }
</style>

{{>header}}

<body>
  <div class="body">
    <div class="row">
      <div id="col" class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        {{{body}}}
      </div>
    </div>
    {{#if user}}
    <footer class="footer">2019 copyright by MacComX</footer>
    {{/if}}
</body>
<script type="text/javascript" src="/js/dropdown.js"></script>
<script type="text/javascript" src="/js/popuoLgn.js"></script>
<script type="text/javascript" src="/js/popup.js"></script>
</html>