<section class="bodylgn">
    <div class="container">
        <div class="over" >
            <div style="color:#eee;" class="fond">
                <div  style="display: block; text-align: center;" class="presentation">
                    <h1 >Email verify</h1><br><br>
                    <h2>Welcom to you {{name}}.</h2>
                    <h3>returned to login and indenfy.</h3>
                </div>
                <div id="btns" class="btns">
                    <a  href="/users/login"><button id="btnlgn" class="btnlgn btnsty">SUNG IN</button></a>
                </div>
            </div>
        </div>
    </div>
</section>